*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.not-visible{
    display: none;
}




header{
    background-color: #2E3A46;
    padding:1rem 0;
}
header .container{
    display: flex;
    flex-direction: column;
   

}
header img{
width: 120px;
}

main{
    background-color: #1E2D3B;
    padding: 5rem 0 8rem 0;
}
.container{
    width: 90%;
    margin:0 auto;
    display: flex;
    flex-wrap: wrap;
    
}
.square{
    width: calc((100% / 6 ) - 1rem) ;
    padding:1rem; 
    margin: 1rem 1rem 1rem  0;
    background-color: #2E3A46;
}
.square .photo{
    width: 100%;
  height: auto;

    
}
h5,  p{
    width: 100%;
    text-align: center;
}

h5{
    padding: 1rem 0;
    font-weight: bold;
    color: white;
    font-size: 1.4rem;
}
p{
    font-size: 90%;
    color: #687170;
}

.square .photo>img{
    width: 100%;
    height: auto;
    object-fit:contain;
}


/* ---------SELETTORE GENERI MUSICALI ------------  */

select{
    margin-top: 1rem;
    width: 60px;
    
}